.layout {
    backdrop-filter: blur(100px);
    margin-top: 6vh;
    margin: auto;
    width: 60%;
    padding: 10px;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.05);
}

.info, .images, .categories {
    background: rgba(77, 77, 77, 0.2);
    margin: 12px;
    padding: 1px 10px 10px;
    border: 2px solid grey;
    transition: 0.2s ease;
}

.categories:hover {
    background: rgba(117, 117, 117, 0.15);
    border-color: lightgrey;
}

.info:hover, .images:hover {
    background: rgba(117, 117, 117, 0.2);
    border-color: lightgrey;
}

.previewbutton, .imagearea {
    justify-content: center;
    display: flex;
}

.filearea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image {
    border-radius: 10px;
    margin: 5px;
}

.inline {
    display: flex;
    align-items: center;
}

.extratitle {
    margin-left: 10px;
}