.content {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.imagearea {
    width: 55%;
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 5px;
}

.infoarea {
    width: 44%;
    backdrop-filter: blur(100px);
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.infoarea:hover {
    background-color: rgba(70, 70, 70, 0.2);
    border-color: lightgrey;
}

.actions {
    justify-content: flex-end;
    display: flex;
    margin-bottom: -20px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.addwishlist, .discount {
    justify-content: flex-end;
    display: flex;
}

.addcart {
    height: 70px;
    display: flex;
}

#pricesection {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: calc(160px + 100%);
    margin-right: 10px;
}

.pricesection_price {
    width: 80px;
    height: 70%;
}

.common-price-section {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50%;
}

#pricesection_og {
    text-decoration: line-through;
    color: #3B3B3B;
}

#pricesection_discount {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 55px;
    height: 30px;
    background: linear-gradient(to right, rgba(138, 31, 226, 0.5), #0066ff); 
}

#cartbutton, .review_user {
    align-items: center;
    display: flex;
}

.discount form {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.reviewarea {
    margin-top: 3vh;
    padding: 20px;
    backdrop-filter: blur(100px);
    min-height: 70vh;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.reviewarea:hover {
    background-color: rgba(55, 55, 55, 0.20);
    border-color: lightgrey;
}

.ownreview {
    background-color: rgba(122, 122, 122, 0.15);
    margin: auto;
    width: 70%;
    height: 200px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.ownreview:hover {
    background-color: rgba(70, 70, 70, 0.2);
    border-color: lightgrey;
}

.ownreviewlayout form, .reviewlayout {
    display: flex;
}

.rating, .reviewtext {
    flex: 1;
}

#textbox {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 7px #4d4d4d;
    height:100px;
    width:340px;
}

.submitbutton > *:not(:last-child) {
    margin-bottom: 10px;
}

.submitbutton {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.review {
    margin: 10px auto;
    width: 70%;
    height: 200px;
    padding: 15px;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.positivereview {
    background-color: rgba(0, 145, 10, 0.35);
}

.positivereview:hover {
    background-color: rgba(0, 145, 10, 0.45);
    border-color: lightgrey;
}

.negativereview {
    background-color: rgba(125, 0, 0, 0.35);
}

.negativereview:hover {
    background-color: rgba(125, 0, 0, 0.50);
    border-color: lightgrey;
}

.indent {
    margin-left: 5px;
}

.creator {
    display: flex;
    margin: 5px;
}

.textfield {
    border-radius: 6px;
    box-shadow: 0 0 7px #4d4d4d;
    margin-top: 4px;
    margin-bottom: 4px;
}