.layout {
    backdrop-filter: blur(100px);
    margin: auto;
    margin-top: 10vh;
    width: 60%;
    padding: 10px;
    flex-direction: column;
    display: flex;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.layout:hover {
    background-color: rgba(70, 70, 70, 0.2);
    border-color: lightgrey;
}

.table {
    margin: 10px;
}

.table th {
    border-radius: 7px;
    color: white;
    padding: 5px;
    text-align: left;
}

.table tr:hover {
    background: #41414141;
}

.table td {
    border-radius: 7px;
    padding: 8px;
}