.profile {
    backdrop-filter: blur(100px);
    padding: 10px;
    display: flex;
    align-items: start;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.profileinfo {
    overflow: hidden;
    width: 100%;
    border-radius: 0px;
}

.profile-tophalf {
    display: flex;
}

.profile-name {
    width:60%;
}

.profile-actions {
    width:40%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.user-detail {
    margin-top: 40px;
    display: inline-block;
}

#action {
    width: 115px;
}

#profilepic {
    margin-right: 20px;
    border-radius: 25px;
}

.bottomsection {
    width: 50vw;
    margin: auto;
}

.library {
    margin-top: 2%;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.gamesmade {
    margin-top: 2%;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.library:hover, .gamesmade:hover, .profile:hover {
    background-color: rgba(70, 70, 70, 0.2);
    border-color: lightgrey;
}

.game {
    margin-left:25px;
    margin-bottom: 5px;
    text-decoration: underline;
}