.layout {
    backdrop-filter: blur(100px);
    margin: auto;
    margin-top: 18vh;
    width: 20vw;
    min-width: 200px;
    min-height: 40vh;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.layout:hover {
    border-color: lightgrey;
    background-color: rgba(70, 70, 70, 0.2);
}

.boxtitle {
    margin-left: 20px;
}

.content {
    margin: 20px;
    flex-direction: column;
    display: flex;
    height:70%;
}

.content_upper {
    margin: 10px;
}

.content_lower {
    text-align: center;
}

#submitbutton {
    margin: 20px;
    display: flex;
    justify-content: center;
}