.publishpermission {
    background: linear-gradient(to left, rgba(0, 89, 172, 0.219), transparent);
    backdrop-filter: blur(100px);
    height: 50px;
    margin-bottom: 1vh;
    position:relative;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publishpermission:hover {
    border-color: lightgrey;
}

.content {
    display: flex;
    justify-content: space-between;
}

.filters {
    backdrop-filter: blur(100px);
    width: 25%;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.filters:hover, .game:hover {
    border-color: lightgrey;
    background-color: rgba(70, 70, 70, 0.2);
}

.categorylist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gamelist {
    width: 74%;
}

.game {
    backdrop-filter: blur(100px);
    padding: 7px 20px;
    margin-bottom: 5px;
    height: 130px;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.tophalf, .bottomhalf {
    height: 50%;
    display: flex;
}

#title {
    text-decoration: None;
    flex: 1;
    overflow:hidden;
}

#wishlist {
    justify-content: flex-end;
    display: flex;
    width: 60px;
}

#info {
    flex: 1;
}

#purchase {
    width: 50%;
    display: flex;
}

#pricesection {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex: 1;
}

#pricesection_price {
    width: 80px;
}

#pricesection_og {
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
    color: #3B3B3B;
    display: flex;
    height: 50%;
}

#pricesection_discountprice {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50%;
}

#pricesection_discount {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80px;
    height: 60%;
    background: linear-gradient(to right, rgba(138, 31, 226, 0.5), #0066ff); 
}

#cartbutton {
    justify-content: flex-end;
    display: flex;
    width: 160px;
}