.layout {
    backdrop-filter: blur(100px);
    margin-top: 6vh;
    margin: auto;
    width: 60%;
    padding: 10px;
    flex-direction: column;
}

.info, .images, .categories {
    background: rgba(77, 77, 77, 0.2);
    margin: 12px;
    padding: 1px 10px 10px;
}

.previewbutton, .imagearea {
    justify-content: center;
    display: flex;
}

.filearea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image {
    border-radius: 10px;
    margin: 5px;
}