* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-left: 15vw;
    margin-right: 15vw;
}



.material-symbols-rounded {
    vertical-align: middle;
}
  
.backdrop {
    position: sticky;
    top: 0;
    height: 50px;
    padding-right: 15vw;
    padding-left: 15vw;

    margin-bottom: 1vh;
    margin-left: -15vw;
    margin-right: -15vw;
    z-index: 100;

    opacity: 1;
    backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(225, 225, 225, 0.05);
    mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    justify-content: space-around;
    margin-right: 40px;
    margin-top: 10px;
}

.navbar_vasen {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    margin-left: 2vw;
    font-size: 20px;
}

.navbar_oikea {
    width: 30%;
    justify-content: flex-end;
    display: flex;
    margin-right: 2vw;
    font-size: 15px;
}

.navbar_profilepic {
    border-radius: 10px;
}