nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    margin-left: 3vw;
    margin-right: 20px;
}

.navbar { 
    height: 50px;
    max-width: 1400px;
    border-radius: 15px;
    padding-right: 20px;
    align-items: center;
    background-color: grey;
    margin-bottom: 1vh;
}

.profilepic {
    border-radius: 10px;
}

body {
    margin-left: 15vw;
    margin-right: 15vw;
}