.layout {
    backdrop-filter: blur(100px);
    margin: auto;
    margin-top: 18vh;
    width: 25vw;
    min-width: 200px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.05);
    border: 2px solid grey;
    transition: 0.2s ease;
}

.layout:hover {
    background-color: rgba(70, 70, 70, 0.2);
    border-color: lightgrey;
}

.boxtitle {
    margin-left: 20px;
}

.content {
    margin: 10px;
}

.filearea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectarea {
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type="radio"]:checked + label {
    color: #fff;
    background: linear-gradient(to right, rgba(42, 232, 153, 0.85), rgba(78, 81, 232, 1));;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#submit {
    display: flex;
    justify-content: center;
}