.publishpermission {
    background-color: transparent;
    backdrop-filter: blur(100px);
    height: 50px;
    border-radius: 15px;
    margin-bottom: 1vh;
    position:relative;
    padding-left: 45%;
    display: flex;
    align-items: center;
    z-index: 80;
}

.content {
    display: flex;
    justify-content: space-between;
}

.filters {
    background-color: transparent;
    backdrop-filter: blur(100px);
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    border-radius: 15px;
}

.categorylist {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gamelist {
    width: 74%;
}

.game {
    background-color: transparent;
    backdrop-filter: blur(100px);
    box-sizing: border-box;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 7px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    border: 2px solid transparent;
}

.game:hover {
    border: 2px solid lightgrey;
    box-shadow: 0 0 10px black;
}

.gamethumbnail {
    background-color: transparent;
    width: 40%;
    height: 100%;
}

.gameinformation {
    background-color: transparent;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tophalf {
    background-color: transparent;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.bottomhalf {
    background-color: transparent;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

#title {
    background-color: transparent;
    text-decoration: None;
    width: 85%;
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#wishlist {
    background-color: transparent;
    justify-content: flex-end;
    display: flex;
    width: 15%;
    height: 100%;
}

#info {
    background-color: transparent;
    width: 50%;
    height: 100%;
}

#purchase {
    background-color: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#pricesection {
    background-color: transparent;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
    margin-right: 20px;
}

#pricesection_price {
    background-color: transparent;
    width: 50%;
    height: 100%;
    margin-right: -10px;
}

#pricesection_og {
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
    color: #3B3B3B;
    display: flex;
    height: 50%;
    background-color: transparent;
}

#pricesection_discountprice {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50%;
    background-color: transparent;
}


#pricesection_discount {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 60%;
    background: linear-gradient(to right, rgba(138, 31, 226, 0.5), #0066ff); 
    border-radius: 12px;
}

#cartbutton {
    background-color: transparent;
    justify-content: flex-end;
    display: flex;
    width: 50%;
    height: 100%;
}