.publishpermission {
    background-color: transparent;
    backdrop-filter: blur(100px);
    height: 50px;
    border-radius: 15px;
    margin-bottom: 1vh;
    position:relative;
    padding-left: 45%;
    display: flex;
    align-items: center;
    z-index: 80;
}

.content {
    display: flex;
    justify-content: space-between;
}

.filters {
    background-color: transparent;
    backdrop-filter: blur(100px);
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    border-radius: 15px;
}

.gamelist {
    width: 74%;
}

.game {
    background-color: transparent;
    backdrop-filter: blur(100px);
    box-sizing: border-box;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 7px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    border: 2px solid transparent;
}

.game:hover {
    border: 2px solid lightgrey; /* Change to the border style you want */
    box-shadow: 0 0 10px black; /* Add glow effect */
}

.gamethumbnail {
    background-color: transparent;
    width: 40%;
    height: 100%;
}

.gameinformation {
    background-color: transparent;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tophalf {
    background-color: transparent;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.bottomhalf {
    background-color: transparent;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

#title {
    background-color: transparent;
    text-decoration: None;
    width: 85%;
    height: 100%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#wishlist {
    background-color: transparent;
    justify-content: flex-end;
    display: flex;
    width: 15%;
    height: 100%;
}

#info {
    background-color: transparent;
    width: 50%;
    height: 100%;
}

#purchase {
    background-color: transparent;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#pricesection {
    background-color: transparent;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 100%;
    margin-right: 20px;
}

#pricesection_price {
    background-color: transparent;
    width: 50%;
    height: 100%;
    margin-right: -10px;
}

#pricesection_og {
    align-items: center;
    justify-content: center;
    text-decoration: line-through;
    color: #3B3B3B;
    display: flex;
    height: 50%;
    background-color: transparent;
}

#pricesection_discountprice {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50%;
    background-color: transparent;
}


#pricesection_discount {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    height: 60%;
    background-color: #0066ff;
    border-radius: 15px;
}

#cartbutton {
    background-color: transparent;
    justify-content: flex-end;
    display: flex;
    width: 50%;
    height: 100%;
}



/* SEARCH */

input[type="search"] {
    width: 100%;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}



/* CHECKBOX */

.container {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    min-height: 60px;
    padding: 16px 24px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 100px;
    height: 50px;
    margin: 5px;
}

input[type="checkbox"] + label:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

input[type="checkbox"]:checked + label {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

input[type="checkbox"]:active + label {
    box-shadow: none;
    transform: translateY(0);
}


/* BUTTON */


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 24px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 50px;
    height: 50px;
}

.button-31 {
    width: 150px;
}

.button-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.button:hover {
   box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
   transform: translateY(-2px);
}

.button:active {
   box-shadow: none;
   transform: translateY(0);
}

.button-28:hover {
   color: #fff;
   background-color: #0066ff;
}

.button-29 {
    background-color: #1A1A1A;
 }
 
.button-29:hover {
   color: #fff;
   background-color: red;
}

.button-30 {
   width: 150px;
   color: #fff;
}

.button-30:hover {
   color: #fff;
   background: linear-gradient(to right, rgba(42, 232, 153, 0.85), rgba(78, 81, 232, 1));
}