* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    color: white;
    border-radius: 15px;
}

body {
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: black;
}

a {
    text-decoration: None;
    display: flex;
    align-items: center;
}

.title {
    margin-left: 2vw;
    z-index: 10;
}

.select {
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.select:hover {
    transform: translateY(-2px);
}

.material-symbols-rounded {
    vertical-align: middle;
}

@keyframes move {
    0% { top: var(--top); left: var(--left); }
    100% { top: calc(var(--top) + 160%);
           left: calc(var(--left) - 20%); }
}

.anim1, .anim2, .anim3, .anim4, .anim5 {
    --top: -30%;
    position: fixed;
    z-index: 0;
    transform: translate(-50%, -50%);
    filter: blur(65px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.anim1 {
    width: 200px;
    height: 200px;
    --left: 15%;
    animation: move 50s infinite alternate;
    animation-timing-function: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    background-image: linear-gradient(rgba(42, 232, 153, 0.85), rgba(78, 81, 232, 1));
}

.anim2 {
    width: 210px;
    height: 220px;
    --left: 40%;
    animation: move 20s infinite;
    background-image: linear-gradient(to right, #fbd3e9, #bb377d);
}

.anim3 {
    width: 250px;
    height: 250px;
    --left: 63%;
    animation: move 30s infinite alternate;
    animation-timing-function: cubic-bezier(0.4, 0.7, 0.3, 0.2);
    background-image: linear-gradient(rgba(187, 108, 233, 0.75), rgb(79, 82, 221));
}

.anim4 {
    width: 150px;
    height: 150px;
    --left: 85%;
    animation: move 15s infinite;
    animation-timing-function: cubic-bezier(0.2, 0.6, 0.6, 0.1);
    background-image: linear-gradient(to right, #4b6cb7, #182848);
}

.anim5 {
    width: 250px;
    height: 250px;
    --left: 110%;
    animation: move 40s infinite alternate;
    background-image: linear-gradient(to right, #fbd3e9, #bb377d);
}

.backdrop {
    position: sticky;
    top: 0px;
    height: 50px;
    padding-right: 15vw;
    padding-left: 15vw;
    margin-left: -15vw;
    margin-right: -15vw;
    z-index: 100;
    backdrop-filter: blur(30px);
    mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
}

.navbar {
    display: flex;
}

.navbar a {
    margin-top: 10px;
    margin-right: 40px;
}

.navbar_vasen {
    width: 80%;
    display: flex;
    margin-left: 2vw;
    font-size: 1.25em;
}

.navbar_oikea {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}

#link {
    text-decoration: underline;
}

.textfield {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 7px #4d4d4d;
    margin: 4px -20px 4px 0;
}

.textbox {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 7px #4d4d4d;
    margin: 4px -40px 4px 10px;
    width: calc(100% - 20px);
    height: 12vh;
    resize: none;
}
