<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/twocolumnlayout.css">
    <link rel="stylesheet" href="/static/inputs.css">
    {% extends "navbar.html" %}
    {% block title %}Browse games{% endblock %}
  </head>
  <body>
    {% block content %}
      <div>
        <h1 class="title">Browse Games</h1>
      </div>
      <div class="content">
        <div class="filters">
          <h2 class="title"> Filters </h2>
          <form action="/allgames" method="GET">
            <input type="search" name="query" class="search" placeholder="Search" value="{% if searchtext != True %}{{ searchtext }}{% endif %}"> <br>
            Sort By:
            <select name="sort">
              <option value="random" {% if selectedsort == "random" %} selected {% endif %}>Random</option>
              <option value="name" {% if selectedsort == "name" %} selected {% endif %}>Name</option>
              <option value="release" {% if selectedsort == "release" %} selected {% endif %}>Release date</option>
              <option value="price" {% if selectedsort == "price" %} selected {% endif %}>Price</option>
            </select>
            <div class="categorylist">
              {% for category in categories %} 
                  <input type="checkbox" id="{{ category.id }}" name="categories" value="{{ category.id }}" {% if category.id in selectedcategories %} checked {% endif %}>
                  <label for="{{ category.id }}">{{ category.category }}</label>
              {% endfor %}
            </div>
            <button type="submit" class="button button-wide" role="button"> <span class="material-symbols-rounded"> search </span> search </button>
          </form>
        </div>
        <div class="gamelist">
          {% if newgamepermission %}
            <div class="publishpermission">
              <a href="/newgame">Publish new game</a>
            </div>
          {% endif %}
          {% for game in games %}
            <div class="game">
              <div class="gamethumbnail">
                image here??
              </div>
              <div class="gameinformation">
                <div class="tophalf">
                  <div id="title">
                    <h2 class="select"> <a href="/game/{{ game.id }}"> {{ game.title }} </a> </h2>
                  </div>
                  <div id="wishlist">
                    {% if game not in wishlist %}
                      <form action="/wishlist" method="POST">
                        <input type=hidden name="game_id" value="{{ game.id }}">
                        <input type=hidden name="remove" value="remove">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <button type="submit" class="button button-unwishlist" role="button"> <span class="material-symbols-rounded"> heart_broken </span> </button>
                      </form>
                    {% else %}
                      {% if session.user_id %}
                        {% if game not in owned %}
                          <span class="button button-disabled"> <span class="material-symbols-rounded"> heart_check </span> </span>
                        {% else %}
                          <form action="/wishlist" method="POST">
                            <input type=hidden name="game_id" value="{{ game.id }}"> 
                            <input type=hidden name="remove" value=""> 
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <button type="submit" class="button button-wishlist" role="button"> <span class="material-symbols-rounded"> favorite </span> </button>
                          </form>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
                <div class="bottomhalf">
                  <div id="info">
                    By: {{ game.username }} <br>
                    {% if game in released %}
                      Released: {{ game.release_date }}
                    {% else %}
                      Releasing: {{ game.release_date }}
                    {% endif %}
                  </div>
                  <div id="purchase">
                    <div id="pricesection">
                      {% if game.percentage != 0 %}
                        <div id="pricesection_discount">
                          {{ game.percentage }}%
                        </div>
                        <div id="pricesection_price">
                          <div id="pricesection_og">
                            {{ game.price }}€
                          </div>
                          <div id="pricesection_discountprice">
                            {{ game.discountprice }}€
                          </div>
                        </div>
                      {% else %}
                        {{ game.price }}€
                      {% endif %}
                    </div>
                    <div id="cartbutton">
                      {% if session.user_id %} <!-- if logged in in -->
                        {% if game not in owned %} <!-- game owned already-->
                            <span class="button button-wide button-disabled"> <span class="material-symbols-rounded"> check </span> already owned </span>
                        {% else %}
                          {% if game in released %}
                            {% if game.title not in cart %} <!-- game not in cart yet-->
                              <form action="/cart" method="POST"> 
                                <input type=hidden name="game_id" value="{{ game.id }}"> 
                                <input type=hidden name="remove" value=""> 
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <button type="submit" class="button button-cart" role="button"> <span class="material-symbols-rounded"> shopping_cart_checkout </span> Add to cart </button>
                              </form>
                            {% else %}
                              <span class="button button-wide button-disabled"> <span class="material-symbols-rounded"> production_quantity_limits </span> In cart already </span>
                            {% endif %}
                          {% else %}
                            <span class="button button-wide button-disabled"> <span class="material-symbols-rounded"> schedule </span> Not released </span>
                          {% endif %}
                        {% endif %}
                      {% else %}
                      <span class="button button-wide button-disabled"> Log in to buy games </span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          {% endfor %}
        </div>
      </div>
    {% endblock %}
  </body>
</html>