<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/twocolumnlayout.css">
    <link rel="stylesheet" href="/static/css/inputs.css">
    {% extends "base.html" %}
    {% block title %}Browse games{% endblock %}
  </head>
  <body>
    {% block content %}
      <div>
        <h1 class="title">Browse Games</h1>
      </div>
      <div class="content">
        <div class="filters">
          <h2 class="title"> Filters </h2>
          <form action="/allgames" method="GET">
            <input type="search" name="query" class="search" placeholder="Search" value="{% if searchtext != True %}{{ searchtext }}{% endif %}"> <br> <br>
            Sort By:
            <select name="sort">
              <option value="name" {% if selectedsort == "name" %} selected {% endif %}>Name</option>
              <option value="random" {% if selectedsort == "random" %} selected {% endif %}>Random</option>
              <option value="price" {% if selectedsort == "price" %} selected {% endif %}>Price</option>
              <option value="latest" {% if selectedsort == "latest" %} selected {% endif %}>Latest first</option>
              <option value="oldest" {% if selectedsort == "oldest" %} selected {% endif %}>Oldest first</option>
            </select>
            <br> <br>
            <div class="categorylist">
              {% for category in categories %} 
                  <input type="checkbox" id="{{ category.id }}" name="categories" value="{{ category.id }}" {% if category.id in selectedcategories %} checked {% endif %}>
                  <label for="{{ category.id }}">{{ category.category }}</label>
              {% endfor %}
            </div>
            <div class="center">
              <button type="submit" class="btn btn-colors search-icon" role="button"> Search </button>
            </div>
            <!-- clear filters-->
            <div class="center">
              <a href="/allgames">
                <div class="btn btn-remove clear-icon"> Clear filters </div>
              </a>
            </div>
          </form>
        </div>
        <div class="gamelist">
          {% if newgamepermission %}
            <div class="publishpermission">
              <a href="/newgame" id="link">Publish new game</a>
            </div>
          {% endif %}
          {% for game in games %}
            <div class="game">
              <div class="tophalf">
                <div id="title">
                  <h2 class="select"> <a href="/game/{{ game.id }}"> {{ game.title }} </a> </h2>
                </div>
                <div id="wishlist">
                  {% if game not in wishlist %}
                    <form action="/wishlist" method="POST">
                      <input type=hidden name="game_id" value="{{ game.id }}">
                      <input type=hidden name="remove" value="remove">
                      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                      <button type="submit" class="btn btn-remove unwish-icon" role="button"> Unwish </button>
                    </form>
                  {% else %}
                    {% if session.user_id %}
                      {% if game not in owned %}
                        <span class="btn btn-disabled btn-box alreadywished-icon"> </span>
                      {% else %}
                        <form action="/wishlist" method="POST">
                          <input type=hidden name="game_id" value="{{ game.id }}"> 
                          <input type=hidden name="remove" value=""> 
                          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                          <button type="submit" class="btn btn-colors heart-icon" role="button"> Add to wishlist </button>
                        </form>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="bottomhalf">
                <div id="info">
                  By: {{ game.username }} <br>
                  {% if game in released %}
                    Released: {{ game.release_date }}
                  {% else %}
                    Releasing: {{ game.release_date }}
                  {% endif %}
                </div>
                <div id="purchase">
                  <div id="pricesection">
                    {% if game.percentage != 0 %}
                      <div id="pricesection_discount">
                        {{ game.percentage }}%
                      </div>
                      <div id="pricesection_price">
                        <div id="pricesection_og">
                          {{ game.price }}€
                        </div>
                        <div id="pricesection_discountprice">
                          {{ game.discountprice }}€
                        </div>
                      </div>
                    {% else %}
                      {{ game.price }}€
                    {% endif %}
                  </div>
                  <div id="cartbutton">
                    {% if session.user_id %}
                      {% if game not in owned %}
                          <span class="btn btn-disabled check-icon"> already owned </span>
                      {% else %}
                        {% if game in released %}
                          {% if game.title not in cart %}
                            <form action="/cart" method="POST"> 
                              <input type=hidden name="game_id" value="{{ game.id }}"> 
                              <input type=hidden name="remove" value=""> 
                              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                              <button type="submit" class="btn btn-colors addcart-icon" role="button"> Add to cart </button>
                            </form>
                          {% else %}
                            <span class="btn btn-disabled incart-icon"> In cart already </span>
                          {% endif %}
                        {% else %}
                          <span class="btn btn-disabled schedule-icon"> Not released </span>
                        {% endif %}
                      {% endif %}
                    {% else %}
                      <span class="btn btn-disabled"> Log in to buy games </span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endblock %}
  </body>
</html>