<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/static/twocolums.css">
    {% extends "navbar.html" %}
    {% block title %}Browse games{% endblock %}
  </head>
  <body>
    {% block content %}
      {% if newgamepermission %}
        <div class="publishpermission">
          <a href="/newgame">Publish new game</a>
        </div>
      {% endif %}
      <div class="content">
        <div class="filters">
          <form action="/allgames" method="GET">
            <input type="search" name="query" class="search" placeholder="Search" value="{% if searchtext != True %}{{ searchtext }}{% endif %}"> <br>
            Categories: 
              {% for category in categories %} 
                <input type="checkbox" name="categories" value="{{ category.id }}" {% if category.id in selectedcategories %} checked {% endif %}> {{ category.category }}
              {% endfor %} <br>
            Sort By:
              <select name="sort">
                <option value="random" {% if selectedsort == "random" %} selected {% endif %}>Random</option>
                <option value="name" {% if selectedsort == "name" %} selected {% endif %}>Name</option>
                <option value="release" {% if selectedsort == "release" %} selected {% endif %}>Release date</option>
                <option value="price" {% if selectedsort == "price" %} selected {% endif %}>Price</option>
              </select> <br>
            <input type="submit" value="Search">
          </form>
        </div>
        <div class="gamelist">
          {% for game in games %}
            <div class="game">
              <a href="/game/{{ game.id }}"> {{ game.title }} </a> <br>
              Price: {{ game.price }}€  {% if game.percentage != 0 %} {{ game.percentage }}% {{ game.discountprice }}€ {% endif %} <br>
              Release Date: {{ game.release_date }} <br>
              Creator: {{ game.username }} <br>

              {% if session.user_id %} <!-- if logged in in -->
                {% if game not in owned %} <!-- game owned already-->
                  Game is already owned
                {% else %}
                  {% if game not in wishlist %} <!-- game already in wishlist-->
                    Game is already on wishlist <br>
                  {% else %}
                    <form action="/wishlist" method="POST"> 
                      <input type=hidden name="game_id" value="{{ game.id }}"> 
                      <input type=hidden name="remove" value=""> 
                      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                      <input type="submit" value="Add to wishlist">
                    </form>
                  {% endif %}
                  {% if game.title not in cart %} <!-- game not in cart yet-->
                      <form action="/cart" method="POST"> 
                        <input type=hidden name="game_id" value="{{ game.id }}"> 
                        <input type=hidden name="remove" value=""> 
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="submit" value="Add to cart">
                      </form>
                  {% else %}
                      Game is already on cart. <br>
                  {% endif %}
                {% endif %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endblock %}
  </body>
</html>