<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/singlecolumnlayout.css">
    <link rel="stylesheet" href="/static/css/inputs.css">
    {% extends "base.html" %}
    {% block title %}Deletion{% endblock %}
  </head>
  <body>
    {% block content %}
      <div class="layout">
        <div class="boxtitle">
          <h1> Deletion </h1>
        </div>
        <div class="content">
          <div class="content_upper">
            <p> This action can't be <b>undone</b> </p>
          </div>
          <div class="content_lower">
            <br>
            {{ message }}
            <form action="{{ action }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              <div id="submitbutton">
                <button type="submit" class="btn btn-remove delete-icon" role="button"> Delete </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>