<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/profile_edit.css">
    <link rel="stylesheet" href="/static/css/inputs.css">
    {% extends "navbar.html" %}
    {% block title %}Edit profile{% endblock %}
  </head>
  <body>
    {% block content %}
      <div class="layout">
        <div class="boxtitle">
          <h1> Edit profile </h1>
        </div>
        <div class="content">
          <form action="/profile/{{ user.id }}/edit" method="POST" enctype="multipart/form-data">
              Username: <input type="text" class="textfield" name="username" size="20" minlength="3" maxlength="25" value="{{ user.username }}" required> <br>
              About yourself: <br> <textarea name="bio" class="textbox" maxlength="500">{{ user.bio }}</textarea> <br>
              Profile picture (max 500x500): <input type="file" class="filearea" name="profpicture" accept="image/png, image/jpg, image/jpeg"> <br>
              Visibility:
                <input type="radio" id="radiopublic" name="visibility" value="public" {% if user.visible %} checked {% endif %}> 
                <label for="radiopublic">Public</label>
                <input type="radio" id="radioprivate" name="visibility" value="private" {% if not user.visible %} checked {% endif %}>
                <label for="radioprivate">Private</label> <br>
              Change role:
              <select name="role" class="selectarea">
                <option value="user" {% if user.role == "user" %} selected {% endif %}>User</option>
                <option value="creator" {% if user.role == "creator" %} selected {% endif %}>Creator</option>
                <option value="moderator" {% if user.role == "moderator" %} selected {% endif %}>Moderator</option>
              </select> <br>
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              <div id="submit">
                <button type="submit" class="btn btn-colors" role="button"> Submit </button>
              </div>
          </form>
        </div>
      </div>
    {% endblock %}
  </body>
</html>