<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/singlecolumnlayout.css">
    {% extends "base.html" %}
    {% block title %}Error{% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="layout">
      <div class="boxtitle">
        <h1> An error occured </h1>
      </div>
      <div class="content">
        <div class="content_upper">
          <p> {{ message }} </p>
          <a href="/" id="link">Back to frontpage</a>
        </div>
      </div>
    </div>
    </div>
    {% endblock %}
  </body>
</html>