<!DOCTYPE html>

{% if editpermission %}
Edit game: <a href="/game/{{ game_id }}/edit">edit</a> <a href="/game/{{ game_id }}/deletegame">delete</a>
<hr>
{% endif %}

Title: {{ game.title }} <br>
description: {{ game.description }} <br>
Price: {{ price.price }}€
{% if price.percentage %} {{ price.percentage }}% {% endif %}
{% if price.discountprice != price.price %} {{ price.discountprice }}€ {% endif %} <br>
{% if editpermission %} <form action="/game/{{ game_id }}" method="POST">
                            Discount game: <input type="number" name="discount" min="0" max="100" step="1" placeholder="0"> % Off
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="submit" value="Submit">
                        </form> {% endif %}
Release date:  {{ game.release_date }} <br>
Creator: <a href="/profile/{{ game.id }}"> {{ game.username }} </a> <br>
Categories: 
{% for category in categories %}
    {{ category.category }} 
{% endfor %} <br>

<hr>

{% if not session.user_id%}
    please log in to buy or wishlist games.
{% else %}

{% if not owned %} 
    {% if released %}
        Buy game:
            <form action="/cart" method="POST"> 
                <input type=hidden name="game_id" value="{{ game_id }}"> 
                <input type=hidden name="remove" value=""> 
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="Add to cart">
            </form> <br>
    {% else %}
        {{ releasing_in }} <br>
    {% endif %}
Wishlist game: 
          <form action="/wishlist" method="POST"> 
              <input type=hidden name="game_id" value="{{ game_id }}"> 
              <input type=hidden name="remove" value=""> 
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
              <input type="submit" value="Add to wishlist">
          </form>
{% else %}
            You already own this game <br>
{% endif %}
{% endif %}
<hr>
{% for id, name, data in imagelist %}
    <img src="data:image/png;base64,{{ data }}" alt="{{ name }}" height="500">
{% endfor %}
<hr>
{% if session.user_id %}
    {% if not owned %}
        You must buy the game to write a review
    {% else %}
        {% if your_review != None %}
            <img src="data:image/png;base64,{{ your_image }}" alt="profilepicture" height="50"> <br>
            your review: {{ your_review.username }} {{ your_review.date }} {{ your_review.rating }} {{ your_review.review }} {% if your_review.edited != None %} (edited on: {{ your_review.edited }}) {% endif %}<br>
            <a href="" onclick="document.getElementById('edit').style.display = 'block'; return false;">edit your review</a>  <p>
            <form id="edit" action="/game/{{ game_id }}" method="POST" style="display: none;">
                <input type="hidden" name="edited" value="True">
                <input type="radio" name="rating" value="positive" {% if your_review.rating == 'positive' %}checked{% endif %}> Positive <br>
                <input type="radio" name="rating" value="negative" {% if your_review.rating == 'negative' %}checked{% endif %}> Negative <br>
                <textarea name="review" rows="5" cols="40" maxlength="200">{{ your_review.review }}</textarea> <br>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="submit">
            </form>

            <a href="/game/{{ game_id }}/deletereview">Delete</a>

        {% else %}
            write a new review: <form action="/game/{{ game_id }}" method="POST">
                                    <input type="hidden" name="edited" value="False">
                                    <input type="radio" name="rating" value="positive" checked> Positive <br>
                                    <input type="radio" name="rating" value="negative"> Negative <br>
                                    <textarea name="review" rows="5" cols="40" maxlength="200" placeholder="Write your review here"></textarea> <br>
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="submit" value="submit">
                                </form>
        {% endif %}
    {% endif %}
{% else %}
    please log in to write a review
{% endif %}

<hr>

{% for id, username, date, edited, rating, review, picturedata in reviews %}
    <img src="data:image/png;base64,{{ picturedata }}" alt="profilepicture" height="50">
    <a href="/profile/{{ id }}"> {{ username }} </a>
    {{ date }} {{ rating }} {{ review }} {% if edited != None %} (edited on: {{ edited }}) {% endif %} 
    {% if moderator %} <a href="/game/{{ game_id }}/deletereview?username={{ username }}">Delete</a> {% endif %} <br>
{% endfor %}