<!DOCTYPE html>

Title: {{ title }} <br>
description: {{ description }} <br>
Price: {{ price }} € <br>
Release date:  {{ release_date }} <br>
Creator: {{ creator }} <br> <br>

{% if not owned %}
Buy game:
          <form action="/cart" method="POST"> 
             <input type=hidden name="game_id" value="{{ game_id }}"> 
             <input type=hidden name="remove" value=""> 
             <input type="submit" value="Add to cart">
          </form> <br>
Wishlist game: 
          <form action="/wishlist" method="POST"> 
              <input type=hidden name="game_id" value="{{ game_id }}"> 
              <input type=hidden name="remove" value=""> 
              <input type="submit" value="Add to wishlist">
          </form> <br>
{% else %}
            You already own this game <br>
{% endif %}
<hr>
{% for name, data in imagelist %}
    <img src="data:image/png;base64,{{ data }}" alt="{{ name }}" height="500">
{% endfor %}
<hr>
{% if session.user_id %}
    {% if not owned %}
        You must own the game to write a review
    {% else %}
        {% if your_review != None %}
            your review: {{ your_review.username }} {{ your_review.date }} {{ your_review.rating }} {{ your_review.review }} {% if your_review.edited != None %} (edited on: {{ your_review.edited }}) {% endif %}<br>
            <a href="" onclick="document.getElementById('edit').style.display = 'block'; return false;">edit your review</a>
            <form id="edit" action="/game/{{ game_id }}" method="POST" style="display: none;">
                <input type="hidden" name="edited" value="True">
                <input type="radio" name="rating" value="positive" {% if your_review.rating == 'positive' %}checked{% endif %}> Positive <br>
                <input type="radio" name="rating" value="negative" {% if your_review.rating == 'negative' %}checked{% endif %}> Negative <br>
                <textarea name="review" rows="5" cols="40" maxlength="200">{{ your_review.review }}</textarea> <br>
                <input type="submit" value="submit">
            </form>

        {% else %}
            write a new review: <form action="/game/{{ game_id }}" method="POST">
                                    <input type="hidden" name="edited" value="False">
                                    <input type="radio" name="rating" value="positive" checked> Positive <br>
                                    <input type="radio" name="rating" value="negative"> Negative <br>
                                    <textarea name="review" rows="5" cols="40" maxlength="200" placeholder="Write your review here"></textarea> <br>
                                    <input type="submit" value="submit">
                                </form>
        {% endif %}
    {% endif %}
{% else %}
    please log in to write a review
{% endif %}

<hr>

{% for review in reviews %}
    {{ review.username }} {{ review.date }} {{ review.rating }} {{ review.review }} {% if review.edited != None %} (edited on: {{ review.edited }}) {% endif %} <br>
{% endfor %}