<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/singlecolumn.css">
    {% extends "navbar.html" %}
    {% block title %}History{% endblock %}
  </head>
  <body>
    {% block content %}
      <div class="layout">
        <table>
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Price</th>
            </tr>
            {% for date, title, sum in history %}
            <tr>
              <th>{{ date }}</th>
              <th>{% if title != None %} Bought: {{title}} {% else %} Balance added {% endif %}</th>
              <th>{{ sum }}€</th>
            </tr>
            {% endfor %}
        </table>
      </div>
    {% endblock %}
  </body>
</html>