<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/twocolumnlayout.css">
    <link rel="stylesheet" href="/static/css/inputs.css">
    {% extends "base.html" %}
    {% block title %}Library{% endblock %}
  </head>
  <body>
    {% block content %}
      <div>
        <h1 class="title">Library</h1>
      </div>
      {% if not session.user_id %}
        please log in to see your collection.
      {% else %}
        <div class="content">
          <div class="filters">
            <h2 class="title"> Filters </h2>
            <form action="/library" method="GET">
              <input type="search" name="query" placeholder="Search" value="{% if searchtext != True %}{{ searchtext }}{% endif %}">
              <div class="center">
                <button type="submit" class="btn btn-colors search-icon"> search </button>
              </div>
            </form>
          </div>
          <div class="gamelist">
            {% if ownedgames|length > 0 %}
              {% for game in ownedgames %}
              <div class="game">
                <a href="/game/{{ game.id }}" id="title" class="select"> <h2> {{ game.title }} </h2> </a>
              </div>
              {% endfor %}
            {% else %}
              <div class="game">
                <h3> No games here yet </h3>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </body>
</html>