<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/singlecolumnlayout.css">
    <link rel="stylesheet" href="/static/css/inputs.css">
    {% extends "navbar.html" %}
    {% block title %}Login{% endblock %}
    {% block balance %} {{ balance }} {% endblock %}
  </head>
  <body>
    {% block content %}
      {% if session.user_id %}
        <div class="layout">
          <div class="boxtitle">
            <h1> Already logged in </h1>
          </div>
          <div class="content">
            <div class="content_upper">
              <a href="/logout" id="link">logout</a>
              <br>
              <a href="/" id="link">Back to frontpage</a>
            </div>
          </div>
        </div>
      {% else %}
        <div class="layout">
          <div class="boxtitle">
            <h1> Login </h1>
          </div>
          <div class="content">
            <div class="content_upper">
              <form action="/login" method="POST">
                Username: <input type="text" class="textfield" name="username" size="20" value="{% if username %}{{ username }}{% endif %}" required> <br>
                Password: <input type="password" class="textfield" name="password" size="20" required> <br>
                {% if errormessage != False %} <br> {{ errormessage }} {% endif %}
                <div id="submitbutton">
                  <button type="submit" class="btn btn-colors login-icon" role="button"> Login </button>
                </div>
                </form>
            <div class="content_lower">
              <a href="/register" id="link">Create new account here</a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </body>
</html>