<!DOCTYPE html>

{% if permission %}
    {% if preview %}
        Title: {{ title }} <br>
        description: {{ description }} <br>
        Price: {{ price }} € <br>
        Release date: {{ date }} <br>
        Time: {{ time }} <br>
        {% for imagename, imagedata in imagelist %}
            <img src="data:image/png;base64,{{ imagedata }}" alt="{{ imagename }}" height="500">
        {% endfor %}

        <form action="/newgame/publish" method="POST">
            <input type="hidden" name="title" value="{{ title }}">
            <input type="hidden" name="description" value="{{ description }}">
            <input type="hidden" name="price" value="{{ price }}">
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="time" value="{{ time }}">
            <input type="submit" value="publish">
        </form>

    {% else %}
        <form action="/newgame" method="POST" enctype="multipart/form-data">
            Title of the game: <input type="text" name="title" size="20" maxlength="50" required> <br>
            Write a description for the game: <textarea name="description" rows="5" cols="40" maxlength="1000"> </textarea> <br>
            <label for="price">Price:</label> <input type="number" id="euros" name="euros" min="0" step="1" placeholder="0">.<input type="number" id="cents" name="cents" min="0" max="99" step="1" placeholder="00"> € <br>
            Release date: <input type="date" name="release_date" value="{{current_date}}" min="{{current_date}}" required> <br>
            Release time: <input type="time" name="time" value="{{current_time}}"> <br>
            File: <input type="file" name="image" multiple> <br>
            <p>
            <input type="submit" value="preview store page"> <br>
        </form>
    {% endif %}
{% else %}
    You do not have permission to view the page
{% endif %}