<!DOCTYPE html>

{% if permission %}
    <a href="/profile/{{ userid }}/edit"> edit </a>
    <a href="/profile/{{ userid }}/history"> history </a> 
    <a href="/profile/{{ userid }}/delete"> delete </a>
    <hr>
{% endif %}

username: {{ username }} <br>
bio: {{ bio }} <br>
role: {{ role }} <br>
joined: {{ joined }} <br>
public: {{ public }} <br>
picture: <br>
<img src="data:image/png;base64,{{ picturedata }}" alt="{{ picturename }}" height="100"> <br>

{% if games|length > 0 %}
<hr>
Games in library: <br>
{% for game in games %}
    <a href="/game/{{ game.id }}"> {{ game.title }} </a> <br>
{% endfor %}
{% endif %}

{% if gamesmade|length > 0 %}
<hr>
Games created by <b>{{ username }}</b> <br>
    {% for id, title in gamesmade %}
    <a href="/game/{{ id }}"> {{ title }} </a> <br>
    {% endfor %}
{% endif %}