<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/singlecolumn.css">
    {% extends "navbar.html" %}
    {% block title %}Register{% endblock %}
    {% block balance %} {{ balance }} {% endblock %}
  </head>
  <body>
    {% block content %}
      {% if session.user_id %}
        <p> You are already logged in </p>
      {% else %}
        <div class="layout">
          <form action="/register" method="POST">
            create username: <input type="text" name="username" size="20" minlength="3" maxlength="25" required> <br>
            create password: <input type="password" name="password1" size="20" required> <br>
            password again: <input type="password" name="password2" size="20" required> <br>
            <input type="submit" value="Register">
          </form>
        </div>
      {% endif %}
    {% endblock %}
  </body>
</html>