<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/singlecolumnlayout.css">
    <link rel="stylesheet" href="/static/css/inputs.css">
    {% extends "navbar.html" %}
    {% block title %}Register{% endblock %}
    {% block balance %} {{ balance }} {% endblock %}
  </head>
  <body>
    {% block content %}
      {% if session.user_id %}
        <div class="layout">
          <div class="boxtitle">
            <h1> Already logged in </h1>
          </div>
          <div class="content">
            <div class="content_upper">
              <a href="/logout" id="link">logout</a>
              <br>
              <a href="/" id="link">Back to frontpage</a>
            </div>
          </div>
        </div>
      {% else %}
        <div class="layout">
          <div class="boxtitle">
            <h1> Register </h1>
          </div>
            <div class="content">
              <div class="content_upper">
                <form action="/register" method="POST">
                  Create username: <input type="text" class="textfield" name="username" size="20" minlength="3" maxlength="25" value="{% if username %}{{ username }}{% endif %}" required> <br>
                  Create password: <input type="password" class="textfield" name="password1" size="20" required> <br>
                  Password again: <input type="password" class="textfield" name="password2" size="20" required> <br>
                  {% if errormessage != False %} <br> {{ errormessage }} {% endif %}
                  <div id="submitbutton">
                    <button type="submit" class="btn btn-colors" role="button"> <span class="material-symbols-rounded"> login </span>  Register </button>
                  </div>
                </form>
              </div>
              <div class="content_lower">
                <a href="/login" id="link">Login to existing account here</a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </body>
</html>