<!DOCTYPE html>

Wishlist <br>
<hr>

<form action="/wishlist" method="GET">
    Search wishlist: <input type="search" name="query", value="{% if searchtext != True %}{{ searchtext }}{% endif %}">
    <input type="submit" value="Search">
</form>
<hr>

{% for game in games %}
    {{ game.title }} {{ game.price }} € id:{{ game.id }}
    <form action="/wishlist" method="POST">
        <input type=hidden name="game_id" value="{{ game.id }}">
        <input type=hidden name="remove" value="remove">
        <input type="submit" value="Remove from wishlist">
    </form>
    <!--# todo released or not -->
    {% if game in released %}
        <form action="/cart" method="POST"> 
            <input type=hidden name="game_id" value="{{ game.id }}"> 
            <input type=hidden name="remove" value=""> 
            <input type="submit" value="Add to cart">
         </form>
    {% else %}
         This game releases in  <br>
    {% endif %}
    <a href="/game/{{ game.id }}"> visit store page </a> <br>
    added to wishlist on: {{ game.date }}
    <hr>
{% endfor %}